<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="menubar">
    <meta charset="UTF-8">
</head>
<body>


    <div th:fragment="menu" class="menu-lateral">
        <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
        <div class="menu-lateral-options">
            <a href="/"><i class="home icon"></i>Home</a>

            <a href="/item_estocado"><i class="shopping bag icon"></i>Mercadorias</a>
            <div class="menu-lateral-suboptions">
                <a href="/mercadoria/cadastro">Cadastrar Mercadorias</a>
            </div>
            <a href="/fornecedor"><i class="address card icon"></i>Fornecedores</a>
            <div class="menu-lateral-suboptions">
                <a href="/fornecedor/cadastro">Cadastrar Fornecedor</a>
            </div>

            <a href="/expedicao"><i class="shopping cart icon"></i>Expedição</a>
            <div class="menu-lateral-suboptions">
                <a>Realizar Expedição</a>
                <a>Relatório de Lucro</a>
            </div>

            <a href="/cliente"><i class="users icon"></i>Clientes</a>
            <div class="menu-lateral-suboptions">
                <a>Cadastrar Mercadorias</a>
            </div>
        </div>
    </div>

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>-->

</body>
</html>