.menu_content {
    height: 100%; /* 100% Full-height */
    width: 220px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    border-right: 1px solid #878787;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    background-color: rgba(255,255,255,.9);;
}
.menu_content span {
      margin-top: 200px;

}

.menu_content a {
      padding: 8px 8px 16px 16px;
      text-decoration: none;
      font-size: 22px;
      border: 1px solid #000
      color: #818181;
      display: block;
      transition: 0.3s;
}
.menu_content a:hover {
    background-color: #b8dbff;
}
.menu_footer {

}

.pusher {
    margin-top: 50px;
    margin-left: 240px;
    margin-right: 50px;
}