<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <title>Cadastrar Cliente</title>
</head>
<body>
<div th:replace="fragments/menu.html :: menu"/>

<div class="pusher">
    <div class="ui segment">
        <form th:action="@{/cliente/cadastro/save}"
              th:object="${cliente}"
              th:onsubmit="return validaCPF()"
              method="post"
              class="ui form">
            <h2 class="ui diving header">Cadastro de Clientes</h2>
            <div class="fields">

                <div class="eight wide field">
                    <label>Nome</label>
                    <input type="text" th:field="*{nome}" placeholder="Ex: João da Silva Mendes" th:required="required">
                </div>

                <div class="eight wide field">
                    <label>CPF</label>
                    <input id="cpf" type="text" th:oninput="mascaraCPF(this)" th:field="*{CPF}" placeholder="Ex: 542.123.542-25" th:required="required">
                    <p id="validadeCPF"></p>
                </div>

                <div class="eight wide field">
                    <label>RG</label>
                    <input type="text" th:oninput="mascaraRG(this)" th:field="*{RG}" placeholder="Ex: 023.432.543-78" th:required="required">
                </div>
            </div>

            <button id="cadastra_cliente_btn" value="submit" style="margin-top: 10px;" class="ui primary button">Cadastrar</button>
            <button class="ui button">Cancelar </button>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

<script type="text/javascript" th:src="@{/js/validacaocliente.js/}"></script>

</body>
</html>