<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fornecedor.css}"/>
    <title>Title</title>
</head>
<body>
    <div class="menu_lateral">
        <a href="/"><i class="home icon"></i>Home</a>
        <a href="/mercadoria"><i class="shopping bag icon"></i>Mercadorias</a>
        <a href="/fornecedor"><i class="address card icon"></i>Fornecedores</a>
        <a href="/expedicao"><i class="shopping cart icon"></i>Expedição</a>
        <a href="/cliente"><i class="users icon"></i>Clientes</a>
    </div>



    <div class="pusher">
        <h1 class="ui dividing header">Fornecedores</h1>
        <button class="ui basic button"> <i class="icon user"></i><a href="fornecedor/cadastro">Adicionar Fornecedor</a></button>
        <br>
        <form method="get" th:action="@{/fornecedor}" class="ui fluid icon input">
            <input type="text" name="nomeFantasia" style="margin-right: 5px; margin-top:10px;" placeholder="Pesquisar Fornecedor">
            <button class="ui primary mini button" type="submit"><i style="font-size: 20px" class="search icon"></i></button>
        </form>
        <br>
        <table class="ui celled table">
            <thead>
            <tr><th>ID</th>
                <th>Razão Sociaç</th>
                <th>Nome Fantasia</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Descrição</th>
                <th>Opções</th>
            </tr></thead>
            <tbody>
                <tr th:if="${fornecedores.empty}">
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr th:each="fornecedor : ${fornecedores}">
                    <td class="one wide field"><span th:text="${fornecedor.id}">ID</span></td>
                    <td class="three wide field"><span th:text="${fornecedor.razaoSocial}">Razão Social</span></td>
                    <td class="two wide field"><span th:text="${fornecedor.nomeFantasia}">Nome Fantasia</span></td>
                    <td class="two wide field"><span th:text="${fornecedor.email}">E-mail</span></td>
                    <td class="two wide field">
                        Fix:&nbsp<span th:text="${fornecedor.contato.telefoneFixo}">Telefone Fixo</span><br>
                        Cel:&nbsp<span th:text="${fornecedor.contato.telefoneCelular}">Telefone Celular</span>
                    </td>
                    <td class="three wide field"><span th:text="${fornecedor.descricao}">Descrição</span></td>
                    <td id="fornecedor-options-buttons" class="four wide field">
                        <a class="ui mini green button" th:href="@{/fornecedor/edit/{id}(id=${fornecedor.id})}">
                            <i class="edit outline icon" style="margin-right:5px"></i>Editar
                        </a>
                        <a class="ui mini red button" th:href="@{/fornecedor/delete/{id}(id=${fornecedor.id})}">
                            <i class="minus circle icon" ></i>Deletar
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</body>
</html>