<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <title>Cadastrar Marcadoria</title>
</head>
<body>

<div th:replace="fragments/menu.html :: menu"> </div>

<div class="pusher">
    <div class="ui segment">
        <form th:action="@{/item_estocado/cadastro/save}"
              th:object="${itemEstocado}"
              method="post"
              class="ui form">
            <h2 class="ui dividing header">Cadastro de Mercadorias</h2>

            <div class="fields">
                <div class="eight wide field">
                    <label>Nome</label>
                    <input type="text" th:field="*{mercadoria.nome}" placeholder="Ex: Ração A cães adultos Frango ">
                </div>
                <div class="eight wide field">
                    <label>Marca</label>
                    <input type="text" th:field="*{mercadoria.marca}" placeholder="Ex: Marco de Freitas Junior">
                </div>
                <div class="eight wide field">
                    <label>Fornecedor</label>
                    <select th:field="*{mercadoria.fornecedor}">
                        <option th:each="fornecedor : ${fornecedores}"
                                th:value="${fornecedor.id}"
                                th:text="${fornecedor.nomeFantasia}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="fields">
                <div class="four wide field">
                    <label>Preço de Compra</label>
                    <input type="number" th:field="*{precoCompra}" placeholder="Ex: 10,99">
                </div>
                <div class="eleven wide field">
                    <label>Preço de Venda</label>
                    <input type="number" th:field="*{precoVenda}" placeholder="Ex: 20,99">
                </div>
                <div class="eight wide field">
                    <label>Quantidade</label>
                    <input type="text" th:field="*{quantidade}" placeholder="Ex: 20">
                </div>
            </div>


            <h3 class="ui dividing header">Lote</h3>
            <div class="fields">
                <div class="four wide field">
                    <label>Data Fabricação</label>
                    <input type="date" th:field="*{lote.dataFabricacao}" placeholder="Ex: Casa de Doces Bomzão">
                </div>
                <div class="eleven wide field">
                    <label>Data Vencimento</label>
                    <input type="date" th:field="*{lote.dataVencimento}" placeholder="Ex: Casa de Doces Bomzão">
                </div>
            </div>

            <h3 class="ui dividing header">Localização</h3>
            <div class="fields">
                <div class="ten wide field">
                    <label>CEP</label>
                    <input type="text" th:field="*{local.cep}" placeholder="Ex: Casa de Doces Bomzão">
                </div>
                <div class="six wide field">
                    <label>Setor</label>
                    <input type="text" th:field="*{local.setor}" placeholder="Ex: Casa de Doces Bomzão">
                </div>
                <div class="six wide field">
                    <label>Capacidade</label>
                    <input type="text" th:field="*{local.capacidade}" placeholder="Ex: Casa de Doces Bomzão">
                </div>
            </div>

            <div class="field">
                <label>Descrição</label>
                <textarea th:field="*{mercadoria.descricao}"></textarea>
            </div>

            <button value="submit" class="ui primary button">Cadastrar</button>
            <button class="ui button">Cancelar </button>
        </form>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</body>
</html>