<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <title>Item Estocado</title>
</head>
<body>
    <div th:replace="fragments/menu.html :: menu"/>

    <div class="pusher">
        <h1 class="ui dividing header">Mercadorias</h1>
        <a class="ui basic button" href="/item_estocado/cadastro"><i class="icon user"></i>Adicionar Mercadoria</a>
        <br>
        <form method="get" class="ui fluid icon input" th:action="@{/item_estocado}">
            <input type="text" style="margin-right: 5px; margin-top:10px;" placeholder="Pesquisar Mercadoria">
            <button class="ui primary mini button" type="submit"><i style="font-size: 20px" class="search icon"></i></button>
        </form>
        <br>
        <table class="ui celled table">
            <thead>
            <tr><th>ID</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Preco</th>
                <th>Quantiade Estoque</th>
                <th>Fornecedor</th>
                <th>Descrição</th>
                <th>Opções</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${itens_estocados.empty}">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr th:each="item_estocado : ${itens_estocados}" >
                <td class="one wide field"><span th:text="${item_estocado.id}"></span></td>
                <td class="three wide field"><span th:text="${item_estocado.mercadoria.nome}"></span></td>
                <td class="three wide field"><span th:text="${item_estocado.mercadoria.marca}"></span></td>
                <td class="two wide field"></td>
                <td class="one wide field"><span th:text="${item_estocado.quantidade}"></span></td>
                <td class="three wide field"><span th:text="${item_estocado.mercadoria.fornecedor.nomeFantasia}"></span></td>
                <td class="three wide field"><span th:text="${item_estocado.mercadoria.descricao}"></span></td>
                <td class="two wide field">
                    <a class="ui mini basic blue button" th:href="@{/item_estocado/edit/{id}(id=${item_estocado.id})}">
                        <i class="edit outline icon"></i>Editar
                    </a>
                    <a class="ui mini basic red button" th:href="@{/item_estocado/delete/{id}(id=${item_estocado.id})}">
                        <i class="minus circle icon" ></i>Deletar
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>