<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <title>Mercadorias</title>
</head>
<body>
<div class="menu_lateral">
    <a href="">Home</a>
    <a href="/">Mercadorias</a>
    <a href="/fornecedor">Fornecedores</a>
    <a href="#">Expedição</a>
    <a href="#">Clientes</a>
</div>

<div class="pusher">
    <a class="ui basic button" href="mercadoria/cadastro"><i class="icon user"></i>Adicionar Mercadoria</a>
    <button class="ui basic button"> <i class="minus circle icon"></i></i>Remover Mercadoria</button>
    <br>
    <div class="ui fluid icon input">
        <input type="text" placeholder="Search a very wide input...">
        <i class="search icon"></i>
    </div>
    <br>
    <button class="ui basic button"> <i class="sort alphabet down icon"></i>Organizar</button>
    <table class="ui celled table">
        <thead>
        <tr><th>ID</th>
            <th>Nome</th>
            <th>Marca</th>
            <th>Fornecedor</th>
            <th>Descrição</th>
            <th>Opções</th>
        </tr></thead>
        <tbody>
        <tr th:if="${mercadorias.empty}">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr th:each="mercadoria : ${mercadorias}" >
            <td><span th:text="${mercadoria.id}"></span></td>
            <td><span th:text="${mercadoria.nome}"></span></td>
            <td><span th:text="${mercadoria.marca}"></span></td>
            <td><span th:text="${mercadoria.fornecedor.nomeFantasia}"></span></td>
            <td><span th:text="${mercadoria.descricao}"></span></td>
            <td><span><i class="address card outline icon"></i></span><span><i class="minus circle icon"></i></span></td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</body>
</html>