<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <title>Vendas</title>
</head>
<body>
    <div th:replace="fragments/menu.html :: menu"/>


    <div class="pusher">
        <h1 class="ui dividing header">Vendas</h1>
        <a class="ui basic button" href="/venda/cadastro"><i class="icon user"></i>Realizar Venda</a>
        <br>
        <table class="ui celled table">
            <thead>
            <tr><th>ID</th>
                <th>Data</th>
                <th>Cliente</th>
                <th>Valor</th>
                <th>Detalhes</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${vendas.empty}">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr th:each="venda : ${vendas}" >
                <td class="one wide field"><span th:text="${venda.id}"></span></td>
                <td class="three wide field"><span th:text="${#temporals.format(venda.dataVenda)}"></span></td>
                <td class="three wide field"><span th:text="${venda.cliente.nome}"></span></td>
                <td class="three wide field"><span th:text="${venda.valor}"></span></td>
                <td class="three wide field">
                    <a class="ui primary button" th:href="@{/venda/detalhe/{id}(id=${venda.id})}">Detalhamento</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</body>
</html>