<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <title>Detalhamento da Venda</title>
</head>
<body>
    <div th:replace="fragments/menu.html :: menu"/>


    <div class="pusher">
        <div class="ui segment">
            <form th:object="${venda}"
                  class="ui form">
                <h2 class="ui dividing header">Cadastro de Vendas</h2>


                <div class="fields">
                    <div class="four wide field">
                        <label>Cliente</label>
                        <label th:text="${venda.cliente.nome}"></label>
                        <label th:text="${venda.cliente.CPF}"></label>
                    </div>
                    <div class="eleven wide field">
                        <label>Data da Venda</label>
                        <label th:text="${venda.dataVenda}"></label>
                    </div>
                </div>


                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Marca</th>
                        <th>Preco Vendido</th>
                        <th>Quantiade Vendida</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${itens_vendidos.empty}">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr th:each="item_vendido : ${itens_vendidos}">
                        <td class="four wide field"><span th:text="${item_vendido.itemEstocado.mercadoria.nome}">Nome</span></td>
                        <td class="four wide field"><span th:text="${item_vendido.itemEstocado.mercadoria.marca}">Marca</span></td>
                        <td class="four wide field"><span th:text="${item_vendido.precoVenda}">Preço Vendido</span></td>
                        <td class="four wide field"><span th:text="${item_vendido.quantidade}">Quantidade Vendida</span></td>
                    </tr>
                    </tbody>
                </table>


                <div class="field">
                    <label>Valor Total</label>
                    <input readonly type="number" th:field="*{valor}">
                </div>

            </form>
        </div>
    </div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</body>
</html>