<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <title>Realizar Venda</title>
</head>
<body>
    <div th:replace="fragments/menu.html :: menu"></div>


    <div class="pusher">
        <div class="ui segment">
            <form th:action="@{/venda/cadastro/save}"
                  th:object="${venda}"
                  method="post"
                  id="formularioVenda"
                  class="ui form">
                <h2 class="ui dividing header">Realizar Venda</h2>

                <h3 class="ui dividing header">Cliente</h3>
                <div class="fields">
                    <div class="ten wide field">
                        <select class="ui dropdown" th:field="*{cliente}">
                            <option th:each="cliente : ${clientes}"
                                    th:value="${cliente.id}"
                                    th:text="${cliente.nome}">
                            </option>
                        </select>
                    </div>
                    <div class="six wide field">
                        <button type="button" id="btnAddMerc" class="ui primary button">Adicionar Mercadoria</button>
                    </div>
                </div>

                <h3 class="ui dividing header">Sumário da Venda</h3>
                <div class="field">
                    <table class="ui celled table">
                        <thead>
                            <tr>
                                <th class="three wide field">Nome</th>
                                <th class="three wide field">Marca</th>
                                <th class="two wide field">Preço Unitário</th>
                                <th class="two wide field">Quantidade Adicionada</th>
                                <th class="two wide field">Opção</th>
                            </tr>
                        </thead>
                        <tbody id="carrinhoTableBody">
                 
                        </tbody>
                    </table>
                </div>


                <div class="field">
                    <label>Valor Total</label>
                    <input id="vendaValor" type="number" readonly th:field="*{valor}">
                </div>
                
                <button id="realizar_venda_btn" value="submit" class="ui primary button">Realizar Venda</button>
            </form>





            <div class="ui fullscreen modal" style="padding: 30px">
                <form class="ui form" th:object="${venda}">
                    <h3 class="ui dividing header">Mercadorias</h3>
                    <div class="scrolling content">
                    <div class="field">
                        <input id="itemEstocadoSearch">
                        <table class="ui celled padded table">
                            <thead>
                                <tr>
                                    <th class="six wide field">Nome</th>
                                    <th class="two wide field">Quantidade Estoque</th>
                                    <th class="two wide field">Preço Venda</th>
                                    <th class="three wide field">Quantidade</th>
                                    <th class="three wide field">Selecionar</th>
                                </tr>
                            </thead>
                            <tbody id="itemEstocadoTableBody">
                            </tbody>
                        </table>
                    </div>
                    </div>
                </form>
            </div>

            <div id="venda_vazia_modal" class="ui basic modal" style="width:30%; left:70%;">
                <div class="ui icon header">
                    <i class="exclamation triangle icon"></i>
                    Venda vazia
                </div>
                <div class="content">
                    <p>Por favor selecione algum item antes de realizar a venda</p>
                </div>
                <div class="actions">
                    <div class="ui green basic ok inverted button">
                        <i class="remove icon"></i>
                        Certo
                    </div>
                </div>
            </div>
        </div>
        
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
            var itensEstocados = /*[[${itens_estocados}]]*/;
        /*]]>*/

        console.log("ASD");
        document.getElementById('btnAddMerc').addEventListener('click', function() {
            makeItemEstocadoTable();
            $('.ui.fullscreen.modal').modal('show');
        });

        const itensVenda = {};

        function makeItemEstocadoTable() {
            let table = document.getElementById('itemEstocadoTableBody');
            table.innerHTML = '';
            for(item in itensEstocados) {
                let row = `<tr>
                    <td>${itensEstocados[item].mercadoria.nome}</td>
                    <td>${itensEstocados[item].quantidade}</td>
                    <td>R$:&nbsp${itensEstocados[item].precoVenda}</td>
                    <td><input oninput="this.value=this.value.replace(/[^0-9]/g,'');" id="qtd${itensEstocados[item].id}" /></td>
                    <td><button class="ui green button" type="button" onclick="adicionarItemNaVenda(${itensEstocados[item].id})">Adicionar</button></td>
                </tr>`
                table.innerHTML += row;

            }

        }

        function adicionarItemNaVenda(id) {
            let itemEstocado = itensEstocados[`${id}`]
            let quantidadeInput = document.getElementById(`qtd${id}`);
            let quantidade = quantidadeInput.value;
            if(quantidade > itemEstocado.quantidade) {
                alert("Quantidade Acima do Estocado");
                quantidadeInput.value = '';

            } else if(quantidade == 0 || quantidade < 0) {
                alert("Quantidade Inválida ou Negativa");
                quantidadeInput.value = '';
            }
            else {
                if(itensVenda[`${id}`]) {
                    itensVenda[`${id}`].quantidade = parseInt(itensVenda[`${id}`].quantidade) + parseInt(quantidade);
                } else {
                    itensVenda[`${id}`] = {itemEstocado, quantidade};
                }
                console.log(itensVenda);
                makeVendaTable();
                itensEstocados[`${id}`].quantidade -= parseInt(quantidade);
                $('.ui.fullscreen.modal').modal('hide');
            }
        };

        function makeVendaTable() {
            let index = 0;
            let valor = 0;
            let vendaValor = document.getElementById('vendaValor');
            let fieldName = "itensVendidos";
            let carrinhoTableBody = document.getElementById('carrinhoTableBody');
            carrinhoTableBody.innerHTML = '';
            for(item in itensVenda) {
                let row = `<tr>
                    <td>${itensVenda[item].itemEstocado.mercadoria.nome}</td>
                    <td>${itensVenda[item].itemEstocado.mercadoria.marca}</td>
                    <td>${itensVenda[item].itemEstocado.precoVenda}</td>
                    <td>${itensVenda[item].quantidade}</td>
                    <td><button onclick="removerItemDaVenda(${item})" class="negative ui button" type="button">Remover</button></td>
                    <input type="hidden" name="${fieldName}[${index}].itemEstocado" value="${itensVenda[item].itemEstocado.id}"/>
                    <input type="hidden" name="${fieldName}[${index}].quantidade" value="${itensVenda[item].quantidade}"/>
                    <input type="hidden" name="${fieldName}[${index}].precoVenda" value="${itensVenda[item].itemEstocado.precoVenda}"/>
                </tr>`;
                for(var i = 0; i < `${itensVenda[item].quantidade}`; i++) {
                    valor += parseFloat(`${itensVenda[item].itemEstocado.precoVenda}`);
                }
                carrinhoTableBody.innerHTML += row;
                index++;
            }
            vendaValor.value = parseFloat(valor.toFixed(2));
        }

        function removerItemDaVenda(item) {
            let itemVenda = itensVenda[item];
            itensEstocados[itemVenda.itemEstocado.id].quantidade = parseInt(itensEstocados[itemVenda.itemEstocado.id].quantidade) + parseInt(itemVenda.quantidade);
            delete itensVenda[item];
            makeVendaTable();
        }
        
    </script>

    <script>
        document.getElementById('formularioVenda').addEventListener('submit', (event) => {
            if(Object.keys(itensVenda).length <= 0) {
                event.preventDefault();
                $('#venda_vazia_modal').modal('show');
            }
        });
        $(document).ready(() => {
            $('.ui.dropdown').dropdown();
        });
    </script>

</body>
</html>